---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import '@fontsource/notable';
import '@fontsource-variable/hepta-slab';
let imgScale = 1;
---

<script type="module">
	import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs'
	
	const swiper = new Swiper('.swiper', {
	// Optional parameters
	direction: 'horizontal',
	loop: true,
	autoHeight: true,
  
	// If we need pagination
	pagination: {
	  el: '.swiper-pagination',
	},
  
	// Navigation arrows
	navigation: {
	  nextEl: '.swiper-button-next',
	  prevEl: '.swiper-button-prev',
	},
  });
  </script>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<Layout title="test">
	<html lang="en">
 	 	<head>
    		<title>Tyhjyyden Valu</title>
 	 	</head>
 	 <body>
		<main>
			<div class="flex-container">
				<h1 id="title" class="font-extralight">Tyhjyyden valu - Casting for Emptiness</h1>
				<div class="bg-white">
					<img src='https://i.imgur.com/GYiPIRC.jpeg' alt="img1" id="img1">
				</div>		
				<div class="bg-white">
					<svg fill="#000000" height="50px" width="50px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
	 viewBox="0 0 60 60" xml:space="preserve">
<g id="playbutton">
	<path d="M45.563,29.174l-22-15c-0.307-0.208-0.703-0.231-1.031-0.058C22.205,14.289,22,14.629,22,15v30
		c0,0.371,0.205,0.711,0.533,0.884C22.679,45.962,22.84,46,23,46c0.197,0,0.394-0.059,0.563-0.174l22-15
		C45.836,30.64,46,30.331,46,30S45.836,29.36,45.563,29.174z M24,43.107V16.893L43.225,30L24,43.107z"/>
	<path d="M30,0C13.458,0,0,13.458,0,30s13.458,30,30,30s30-13.458,30-30S46.542,0,30,0z M30,58C14.561,58,2,45.439,2,30
		S14.561,2,30,2s28,12.561,28,28S45.439,58,30,58z"/>
</g>
<g id="pausebutton">
	<path d="M30,0C13.458,0,0,13.458,0,30s13.458,30,30,30s30-13.458,30-30S46.542,0,30,0z M30,58C14.561,58,2,45.439,2,30
		S14.561,2,30,2s28,12.561,28,28S45.439,58,30,58z"/>
	<path d="M33,46h8V14h-8V46z M35,16h4v28h-4V16z"/>
	<path d="M19,46h8V14h-8V46z M21,16h4v28h-4V16z"/>
</g>
					</svg>
				</div>	
			</div>
		</main>
  	</body>
	</html>
</Layout>

<style define:vars={{ imgScale }}>

	body {
		margin: 0;
		padding: 0;
		background-color: white;
		overflow:visible ;
	}

	.flex-container {
		margin: auto;
		display: flex;
		flex-direction: column;
	}

	main {
		padding: 0;
		margin: 0;
	}

	h1 {
		font-size: 2rem;
		line-height: 1;
		color: black;	
		text-align: center;
		font-family: 'Hepta Slab Variable', serif;	
		margin-bottom: 20px;
		margin-top: 10px;
	}


	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}

	
	.swiper {
		color: white;
		transition: transform .3s;
		transform: scale(0.5)
	}

	#img1 {
		display: block;
		opacity: 0.2;
		transition: all 5s ease-in-out;
		cursor:pointer;	
		max-width: 200px;
		transform: scale(1);
		transform-origin: top;
		margin: auto;
		
	}
	#img2 {
		transition: transform .2s;
		cursor:pointer;
		border: 5px solid black;
	}
	#img3 {
		transition: transform .2s;
		cursor:pointer;
		border: 5px solid black;
	}
	
	.swiper-button-prev {
		color: black;
	}
	.swiper-button-next {
		color: black;
	}

	.swiper-slide
	{
		transition: transform .2s;
		margin-left: auto;
		margin-right: auto;
	}

	#playbutton{
		visibility: visible;
		margin: auto;
	}
	
	#pausebutton{
		visibility: hidden;
		margin: auto;
	}

	#Capa_1{
		margin-right: auto;
		margin-left: auto;
		margin-top: 10px;
	}




		

</style>

<script>

	const img1 = document.querySelector("#img1");
	const button = document.querySelector("#Capa_1")

	const img1Obj = document.getElementById("img1");
	const pauseButton = document.getElementById("pausebutton");
	const playButton = document.getElementById("playbutton");

	function imageUp() {
		img1Obj.style.maxWidth = "400px";
		img1Obj.style.opacity = "1"
		pauseButton.style.visibility = "visible";
		playButton.style.visibility = "hidden";
	}
	function imageDown() {
		img1Obj.style.maxWidth = "200px";
		img1Obj.style.opacity = "0.2"
		pauseButton.style.visibility = "hidden";
		playButton.style.visibility = "visible";
	}


    img1.addEventListener('click', () => {
		console.log("it works");
		if (document.getElementById("img1").style.maxWidth == "400px") {
			imageDown();
		} else {
			imageUp()	
		}

	});
	
    button.addEventListener('click', () => {
		console.log("it works");
		if (document.getElementById("img1").style.maxWidth == "400px") {
			imageDown();
		} else {
			imageUp();
		}
		
	});
	

	
</script>

